!-- **************** Modul **************** -->
<div class="col my-1">
    <div class="card"
         style="width: 90px; background-color: #2286c3; cursor: pointer;"
         onclick="window.open('https://modulmanagement.sml.zhaw.ch/StaticModDescAblage/ModuleDescription_w.BA.XX.2IntBus.XX.pdf')">
        <div class="card-body p-2">
            <h6 class="card-title">Operations- & Prozessmanagement</h6>
            <hr class="p-0 m-0"/>
            <p class="card-text">6 ECTS</p>
        </div>
    </div>
</div>