<!-- **************** Modulgruppe **************** -->
<div class="col" style="max-width: fit-content; background-color: <%= modulesOfModulgruppe[0].Hintergrundfarbe %>">
    <div class="row">

        <% modulesOfModulgruppe.forEach(module => { %>
            <%- include('modul', {module: module, colorModuleGroup: modulesOfModulgruppe[0].Hintergrundfarbe}) %>
        <% }) %>

    </div>
</div>