<!-- **************** Semester **************** -->
<div class="row">
    <div class="col-1" style="width: 6%">
        <h4 class="text-white" style="background-color: #02015D">
            <%= modulesOfSemester[0].Semester.split('.')[0] %>
        </h4>
        <p style="font-size: 0.8rem;">
            <% numberOfECTS = 0; %>
            <% modulesOfSemester.forEach(module => {
                numberOfECTS += module.ECTS;
            }); %>
            <%= numberOfECTS %> ECTS
        </p>
    </div>
    <div class="col">
        <div class="row">
            <% var addedModulgruppen = [] %>
            <% var modulgruppenOfSemester = [] %>
            <% modulesOfSemester.forEach(module => {
                var currentModulgruppe = module.Modulgruppe;
                if (!addedModulgruppen.includes(currentModulgruppe)) {
                    modulgruppenOfSemester.push(modulesOfSemester.filter(module => module.Modulgruppe === currentModulgruppe));
                    addedModulgruppen.push(currentModulgruppe);
                }
            }) %>

            <% modulgruppenOfSemester.forEach(modulesOfModulgruppe => { %>
                <%- include('modulgruppe', {modulesOfModulgruppe: modulesOfModulgruppe}) %>
            <% }) %>
        </div>
    </div>
</div>