<!-- **************** Semester **************** -->
<div class="row">
    <div class="col-1" style="width: 7rem">
        <h4 class="text-white" style="background-color: #002c57">
            <%= modulesOfSemester[0].Semester.split('.')[0] %>
        </h4>
        <p style=" margin-bottom: 0">
            <% numberOfECTS = 0; %>
            <% modulesOfSemester.forEach(module => {
                numberOfECTS += module.ECTS;
            }); %>
            <%= numberOfECTS %> ECTS
        </p>
    </div>
    <div class="col">
        <% var addedModulgruppen = [] %>
        <% var modulgruppenOfSemester = [] %>
        <% modulesOfSemester.forEach(module => {
            var currentModulgruppe = module.Modulgruppe;
            if (!addedModulgruppen.includes(currentModulgruppe)) {
                modulgruppenOfSemester.push(modulesOfSemester.filter(module => module.Modulgruppe === currentModulgruppe));
                addedModulgruppen.push(currentModulgruppe);
            }
        }) %>

        <div class="row">
            <% modulgruppenOfSemester.forEach(modulesOfModulgruppe => { %>
                <% usedModulegroups.forEach(modulegroup => {
                    let moduleInUsedModulegroups = false;
                    modulesOfModulgruppe.forEach(moduleOfModulgruppe => {
                        if (moduleOfModulgruppe.Modulgruppe == modulegroup) moduleInUsedModulegroups = true;
                    })
                    if (!moduleInUsedModulegroups) {
                        modulesOfModulgruppe.push({
                            Semester: moduleOfModulgruppe.Semester,
                            Modulgruppe: modulegroup,
                            Hintergrundfarbe: moduleOfModulgruppe.Hintergrundfarbe
                        });
                    }
                }) %>
            <% }) %>

            <% modulgruppenOfSemester.forEach(modulesOfModulgruppe => { %>
                <%- include('modulgruppe', {modulesOfModulgruppe: modulesOfModulgruppe, wahlmodule: wahlmodule}) %>
            <% }) %>
        </div>
    </div>
</div>